.root {
  margin: 50px auto;
  text-align: center;
}

.container {
  padding: 0 20px;
}

.hello_img {
  display: inline-block;
  margin-bottom: 40px;
  max-width: 100%;
  height: auto;
  border-radius: 30px 30px 50% 50%;
}