.root {
  background-color: #3c40c6;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  min-height: 48px;
  margin: 0 auto;
  max-width: 1280px;
  padding: 10px 20px;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
}